Package: igestis-ishare
Version: 1.1.22
Architecture: all
Maintainer: Gilles Hemmerlé <gilles.h@iabsis.com>
Installed-Size: 982
Depends: parted, dialog, rsync, igestis-file-manager-ldap, igestis-ldap (>= 1.1.0) | igestis (>= 2.0.0)
Suggests: sane-utils, hylafax-client
Section: web
Priority: extra
Description: iGestis module : Manager your iShare server.
 This module permit to change some server settings without
 taking any risk.
 .
 You need a iShare server to use this module !
