Source: igestis-servermgmt
Section: web
Priority: extra
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: igestis-servermgmt
Architecture: all
Depends: backupninja, dialog, rsync, debconf-utils
Suggests: sane-utils, hylafax-client
Description: ServerMgmt let you make basic configuration
  of your server over the web interface, and bring you
  some helper script for the first startup.
